<div class="text-center mt-3 d-lg-none">
    <a class="nav-link active text-decoration-underline text-primary" aria-current="page" href="https://mohamadalasaed.github.io/lebaneseCities/">click me if you are from LEBANON</a>
</div>
<header class="row mt-4 justify-content-center gap-2">
    <div class="col-lg-4 col-md-8 col-10 d-flex align-items-center gap-2">
        <div class="fs-5">Filter: </div>
        <div class="w-100">
            <select class="form-select" aria-label="Default select example" (change)="HandelSelect()" [(ngModel)]="countryName">
                <option value="ALL">ALL</option>
                <option *ngFor="let c of Countries">{{ c.name }}</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-8 col-10">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="keyUp.next($event)" [(ngModel)]="countryNameSearch">
    </div>
</header>