<nav class="container-xl navbar navbar-expand-xl bg-body-tertiary border-bottom">
    <div class="ms-3">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" style="width: 70px;" src="./assets/logo.png" />
            <span class="ms-2">CountriesAroundTheWorld</span>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active text-decoration-underline text-primary" aria-current="page" href="https://mohamadalasaed.github.io/lebaneseCities/">click me if you are from LEBANON</a>
                </li>
            </ul>
        </div>
    </div>
</nav>